<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CSS Tables</title>
<style>
.cust{font-family:Georgia, "Times New Roman", Times, serif; float:left}
  table, th, td{border:dashed #000000; border-collapse:collapse; padding:5px}
  .cust th{background-color:#339966;}
  .cust tr{background-color:#CCFFCC; empty-cells:hide; cursor:pointer;}
  .cust tr:nth-child(odd){background-color:#FFFFFF;}
  .cust tr:hover{background-color:#CCCCCC; cursor:pointer}
   caption{caption-side:right;}
</style>
</head>

<body>

<div style="overflow:scroll";>
  <table class="cust">
  <caption>Customers</caption>
    <thead>
	  <tr>
	     <th>Name</th>
		 <th>Contact</th>
		 <th>Age</th>
		 <th>City</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td>Nashik</td>
	  </tr>
	  <tr>
	     <td>Tom</td>
		 <td>213121</td>
		 <td>10</td>
		 <td>Pune</td>
	  </tr>
	  <tr>
	     <td>Shinchan</td>
		 <td>213121</td>
		 <td>20</td>
		 <td>Mumbai</td>
	  </tr>
	  <tr>
	     <td>Tom</td>
		 <td>213121</td>
		 <td>10</td>
		 <td>Pune</td>
	  </tr>
	  <tr>
	     <td>Shinchan</td>
		 <td></td>
		 <td>20</td>
		 <td>Mumbai</td>
	  </tr>
	  <tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr><tr>
	     <td>Ninja</td>
		 <td>213121</td>
		 <td>20</td>
		 <td></td>
	  </tr>
	  
	</tbody>
  </table>
  </div>
</body>
</html>
