<html>
 <head>
 	<title>CSS</title>
 	<style type="text/css">
 		 p {color: mediumseagreen;}
 		 img{border: dotted;border-color:cadetblue;}
          input{color: black;}
          body{background-color: coral;}
 	</style>
 </head>
 <body>
 	<h1 style="color: lightgray;text-align: center;"> Welcome to CSS</h1>
 	<p> GOOD MORNING </p>
 	<p><b>This is internal CSS. It is generally written in head section.</b></p>
 	<p>demo</p>
 	<img src="bgIMG.JPG" title="This is an image"><br><br>
 	<input type="submit" name="save" disabled>
 </body>
</html>