<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>HTML Properties</title>
</head>
<body style=" background-repeat:repeat-x; background-attachment:fixed">
<strong>Dinggg Dinggg.....Welcome to world of computers..This is the best version of designing...</strong>
  <p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px; font-style:oblique; font-stretch:expanded; font-variant:small-caps; text-align:justify;  ">hello aliens..welcome to world of computers..Delicious foods are been prepared in the traditional way and it provides the best quality for the best domestic!  
This Organization produce 22 products with higher quality of raw materials. Their products are being sold with best taste and they are good for publicity. Also their products are free of chemicals and are purely made from natural substances. Therefore, their products are vegan. They produce number of food products, like Namkeen, Sev, Chivda, Cookies and many more, in traditional way and they believe in logistic management. Their products sale out in almost all shops as they produce and sell Delicious and Spicy products in taste. 
Foodiess....Lets have something special to eat and end ur craving.  </p>

	<div style=" height:50px; width:140px; border: #333333 thick dashed; font:Verdana, Arial, Helvetica, sans-serif medium small-caps; background-color:#6699FF; margin:50px 20px 60px 60px; padding:50px 80px; text-shadow:#000000 10px 8px; text-transform: capitalize ;">
   Helloo
</div>
  <table border="2" bordercolorlight="#66FFCC" >
  <caption align="bottom"> Table</caption>
   <th>Name</th> <th>Roll No</th>
   <tr> <td>abc</td> <td>1</td> </tr>
   <tr> <td>pqr</td> <td>2</td> </tr>
   <tr> <td>xyz</td> <td>3</td> </tr>
  </table><br />
 <ul>
 <li>snc</li><li>dbf</li><li>bdf</li>
 <li></li><li></li>
 </ul>
</body>
</html>
